.app-nav {
  margin-top: 0.26666667rem;
  background-color: #fff;
  padding-top: 0.6rem;
}
.app-nav ul {
  height: 4.85333333rem;
  overflow: hidden;
  transition: all .5s;
}
.app-nav ul.more {
  height: 7.28rem;
}
.app-nav li {
  width: 25%;
  float: left;
  height: 2.42666667rem;
  padding-bottom: 0.26666667rem;
}
.app-nav li img {
  width: 1.33333333rem;
  height: 1.33333333rem;
  margin: 0 auto;
}
.app-nav li p {
  font-size: 0.32rem;
  text-align: center;
  padding: 0.2rem 0;
}
.discount {
  font-size: 0.46666667rem;
  margin-top: 0.13333333rem;
}
.discount .title {
  background: linear-gradient(180deg, #ffa834 0%, #ff9104 100%);
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
.discount .title span {
  color: #fff;
  padding-left: 0.2rem;
}
.discount .title a {
  display: inline-block;
  float: right;
  padding: 0.2rem;
}
.discount .title a img {
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.discount .content li {
  height: 3.46666667rem;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.discount .content li .left {
  padding: 0.4rem;
}
.discount .content li .left img {
  width: 2.66666667rem;
  height: 2.66666667rem;
}
.discount .content li .right {
  padding: 0.4rem;
  font-size: 0.4rem;
}
.discount .content li .right .top {
  height: 2.26666667rem;
}
.discount .content li .right .price {
  color: #ff5c06;
}
.discount .content li .right .target {
  color: #666;
  font-size: 0.37333333rem;
}
.moreinfo {
  display: block;
  height: 0.8rem;
  margin: 0.33333333rem;
  border: 1px solid #ccc;
  border-radius: 0.06666667rem;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.8rem;
}
.moreinfo span {
  font-size: 0.26666667rem;
  line-height: 0.8rem;
}
.brand {
  font-size: 0.46666667rem;
  background: linear-gradient(180deg, #ffa834 0%, #ff9104 100%);
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
.brand span {
  color: #fff;
  padding-left: 0.2rem;
}
.brand a {
  display: inline-block;
  float: right;
  padding: 0.2rem;
}
.brand a img {
  width: 0.53333333rem;
  height: 0.53333333rem;
}
